## Kotlin / Gradle / IntelliJ
.gradle/
.kotlin/
build/
*.db
*.db-shm
*.db-wal
.idea/*
*.iml
local.properties

.vscode/
.vs/
Daemon.csproj.user
/Properties/PublishProfiles/
bin/
obj/

appsettings.json
/Daemon/appsettings.Development.json
/Daemon/appsettings.Production.json
